.cover__title {
   margin: 0 auto 16px;
   width: 78%;
   font-style: normal;
   font-weight: 900;
   font-size: 32px;
   line-height: 1.09;
   text-align: center;
   color: #FFFFFF;
   z-index: 21;
}

@media screen and (min-width: 768px) {
   .cover__title {
      font-size: 72px;
      width: 73%;
      margin: 0 auto 32px;
   }
}

@media screen and (min-width: 1024px) {
   .cover__title {
      font-size: 72px;
      width: 54%;
   }
}

@media screen and (min-width: 1280px) {
   .cover__title {
      font-size: 72px;
      width: 47%;
   }


}